*~
*.swo
*.swp
*.la
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
configure.ac.orig
depcomp
e-module-echievements.edj
e_modules-echievements.spec
install-sh
libtool
ltmain.sh
*.m4
missing
mkinstalldirs
module.desktop
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/ar.gmo
po/bg.gmo
po/boldquot.sed
po/cs.gmo
po/de.gmo
po/el.gmo
po/en@boldquot.header
po/en@quot.header
po/eo.gmo
po/es.gmo
po/fr.gmo
po/he.gmo
po/hr.gmo
po/hu.gmo
po/insert-header.sin
po/it.gmo
po/ja.gmo
po/lt.gmo
po/nl.gmo
po/pl.gmo
po/pt.gmo
po/pt_BR.gmo
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/ru.gmo
po/sk.gmo
po/echievements.pot
po/sl.gmo
po/stamp-po
po/sv.gmo
po/tr.gmo
po/uk.gmo
po/zh_CN.gmo
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/e_mod_config.lo
src/e_mod_config.o
src/e_mod_main.lo
src/e_mod_main.o
stamp-h1

