*~
*.swo
*.swp
*.o
*.lo
*.la
ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
configure.ac.orig
depcomp
e-module-echievements.edj
e_modules-echievements.spec
install-sh
libtool
ltmain.sh
*.m4
missing
mkinstalldirs
module.desktop
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/*.gmo
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/echievements.pot
po/stamp-po
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
stamp-h1

